<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user) { %>
    <h1>Hi, <%= user ? user.profile.name.split(" ")[0] : "friend" %>, let's cook!</h1>
    <h2>My Cookbooks</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Delete Cookbook</th>
        </tr>
      </thead>
      <tbody>
        <% cookbooks.forEach(cookbook => { %>
          <tr>
            <td>
              <a href="/cookbooks/<%= cookbook._id %>"><%= cookbook.title %></a>
            </td>
            <td>
              <form action="/cookbooks/<%= cookbook._id %>?_method=DELETE" method="POST">
                <button class="delete-cookbook-btn" type="submit">&#128465</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <h2>My Recipes</h2>
    <div class="recipe-container">
      <% recipes.forEach(recipe => { %>
        <div class="recipe-card">
          <a href="/recipes/<%= recipe._id %>"><img src="<%= recipe.image %>" alt="<%= recipe.label %> photo"></a>
          <a href="/recipes/<%= recipe._id %>"><h3><%= recipe.label %></h3></a>
          <p>Ingredient Count: <%= recipe.ingredients.length %></p>
          <p>Number of Steps: <%= recipe.instructions.length %></p>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    </div>
    <div id="log-in-video">
      <video autoplay muted loop>
        <source src="/assets/login-video-hd.mp4" type="video/mp4" />
      </video>
      <div id="log-in">
        <h4>Please Sign In</h4>
        <div 
          id="g_id_onload"
          data-client_id="<%= googleClientID %>"
          data-login_uri="/auth/google"
          data-auto_prompt="false"
        ></div>
        <div 
          class="g_id_signin"
          data-type="standard"
          data-size="large"
          data-theme="outline"
          data-text="sign_in_with"
          data-shape="rectangular"
          data-logo_alignment="left"
        ></div>
      </div>
    </div>
  <% } %>

</main>

<%- include('./partials/footer') %>
