<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <img src="/assets/logo.png" alt="butter logo" width="400px">
  <% if (user) { %>
    <h1>hello, <%= user ? user.profile.name : "friend" %>, let's get cooking!</h1>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
      <h2>My Cookbooks</h2>
      <form action="/cookbooks/new" method="get">
        <button type="submit">New Cookbook</button>
      </form>
      <ul>
      <% cookbooks.forEach(cookbook => { %>
        <li><a href="/cookbooks/<%= cookbook._id %>"><%= cookbook.title %></a></li>
        <% }) %>
      </ul>
    <% } %>
  <% } else { %>
    <h1>Please Sign In</h1>
    <div>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    </div>
  <% } %>

</main>

<%- include('./partials/footer') %>
