<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
  <table>
    <thead>
      <th>Name:</th>
      <th>Avatar:</th>
    </thead>
    <tbody>
      <% profiles.forEach(profile => { %>
        <tr>
          <td>
            <a href="/users/<%= profile._id %>"><%= profile.name %></a>
          </td>
          <td>
            <a href="/users/<%= profile._id %>"><img src="<%= profile.avatar %>" alt="profile avatar"></a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>
