<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<h2>User Sumbitted Recipes:</h2>
<ul>
  <% recipes.forEach(recipe => { %>
    <li><a href="/recipes/<%= recipe._id %>"><%= recipe.label %> </a></li>
  <% }) %>
</ul>
<h2>Recipe Search</h2>
<%- include('../partials/search') %>

<h2>Import a Recipe</h2>
<form action="/recipes/import" method="POST">
  <input type="url" name="url">
  <button type="submit">Import</button>
</form>
</main>

<%- include('../partials/footer') %>
