<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<h2>User Sumbitted Recipes:</h2>
<div class="recipe-container">
  <% recipes.forEach(recipe => { %>
    <div class="recipe-card">
      <a href="/recipes/<%= recipe._id %>"><img src="<%= recipe.image %>" alt="<%= recipe.label %> photo"></a>
      <a href="/recipes/<%= recipe._id %>"><h3><%= recipe.label %></h3></a>
      <a href="/users/<%= recipe.author %>">By: <%= recipe.author.name %></a>
      <p>Ingredient Count: <%= recipe.ingredients.length %></p>
      <p>Number of Steps: <%= recipe.instructions.length %></p>
    </div>
  <% }) %>
</div>
<h2>Recipe Search</h2>
<%- include('../partials/search') %>

<h2>Import a Recipe</h2>
<form action="/recipes/import" method="POST">
  <input type="url" name="url">
  <button type="submit">Import</button>
</form>
</main>

<%- include('../partials/footer') %>
