<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<ul>
  <% results.hits.forEach(hit => { %>
    <li><a href="#"><%= hit.recipe.label %> / <img src="<%= hit.recipe.image %>" alt=""> </a></li>
  <% }) %>
</ul>
<h2>Recipe Search</h2>
<%- include('../partials/search') %>
</main>

<%- include('../partials/footer') %>
