<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<h3 id="results-header">Recipes will open in a new tab. Found the perfect recipe? Click on "Copy This Recipe" to open the recipe in a new tab and open the new recipe form in this tab.</h3>
<div class="recipe-container">
  <% results.hits.forEach(hit => { %>
    <div class="recipe-card">
      <a href="<%= hit.recipe.url %>" target="_blank"><img src="<%= hit.recipe.image %>" alt="<%= hit.recipe.label %> photo"></a>
      <a href="<%= hit.recipe.url %>" target="_blank"><h3><%= hit.recipe.label %></h3></a>
      <p>Source: <%= hit.recipe.source %></p>
      <p>Ingredient Count: <%= hit.recipe.ingredientLines.length %></p>
      <a class="copy-recipe" href="<%= hit.recipe.url %>" target="_blank" onclick="window.open('/recipes/new', '_self')">Copy This Recipe</a>
      <!-- <form action="/recipes/import" method="POST">
        <input type="hidden" name="url" value="<%# hit.recipe.url %>">
        <button type="submit">Instant Import (beta)</button>
      </form> intentionally commented out for future development -->
    </div>
  <% }) %>
</div>
<form action="/recipes/results/more" method="POST">
  <input type="hidden" value="<%= results._links.next.href %>" name="more">
  <button type="submit">Load More Recipes</button>
</form>
</main>

<%- include('../partials/footer') %>
