<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<ul>
  <% results.hits.forEach(hit => { %>
    <li><a href="#"><%= hit.recipe.label %> / <img src="<%= hit.recipe.image %>" alt=""> </a></li>
  <% }) %>
</ul>
<form action="/recipes/results/more" method="POST">
  <input type="hidden" value="<%= results._links.next.href %>" name="more">
  <button type="submit">Load More Recipes</button>
</form>
<h2>Recipe Search</h2>
<%- include('../partials/search') %>
</main>

<%- include('../partials/footer') %>
