<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<h3>Description</h3>
<p><%= recipe.description %></p>
<h3>Ingredients</h3>
<ul>
  <% recipe.ingredients.forEach(ingredient => { %>
    <li><%= ingredient %></li>
  <% }) %>
</ul>
<h3>Instructions</h3>
<ol>
  <% recipe.instructions.forEach(instruction => { %>
    <li><%= instruction %></li>
  <% }) %>
</ol>

<a href="/recipes/<%= recipe._id %>/edit">Edit Recipe</a>

</main>

<%- include('../partials/footer') %>
