<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<img src="<%= recipe.image %>" alt="<%= recipe.label %> image" width="50%">
<h2>Author:</h2>
<h4><a href="/users/<%= recipe.author._id %>"><%= recipe.author.name %></a></h4>
<h3>Description</h3>
<p><%= recipe.description %></p>
<h3>Ingredients</h3>
<ul>
  <% recipe.ingredients.forEach(ingredient => { %>
    <li><%= ingredient %></li>
  <% }) %>
</ul>
<h3>Instructions</h3>
<ol>
  <% recipe.instructions.forEach(instruction => { %>
    <li><%= instruction %></li>
  <% }) %>
</ol>
  <form action="/recipes/<%= recipe._id %>/copy" method="GET">
    <button type="submit">Copy Recipe</button>
  </form>
<% if (recipe.author.equals(user?.profile._id)) { %>
  <h2>Add this recipe to a cookbook:</h2>
  <% cookbooks.forEach(cookbook => { %>
    <form action="/cookbooks/<%= cookbook._id %>/addRecipe/<%= recipe._id %>?_method=PATCH" method="POST">
      <button type="submit">Add to: <%= cookbook.title %></button>
    </form>
  <% }) %>
  <form action="/recipes/<%= recipe._id %>/edit" method="GET">
    <button type="submit">Edit Recipe</button>
  </form>
  <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete Recipe</button>
  </form>
<% } %>

<h3>Comments</h3>
<form action="/recipes/<%= recipe._id %>/comments" method="POST">
  <label for="comment-input">Comment</label>
  <textarea name="content" id="comment-input"></textarea>
  <label for="rating-input">Rating</label>
  <select name="rating" id="rating-input">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select>
  <button type="submit">Add Comment</button>
</form>

<% if (recipe.comments.length) { %>
  <h4>Comments</h4>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Author</th>
        <th>Comment</th>
        <th>Rating</th>
        <th>Remove Comment</th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %> 
      <% recipe.comments.forEach(function(comment) { %>
        <% total += comment.rating %> 
        <tr>
          <td><%= comment.createdAt.toLocaleDateString() %></td>
          <td><%= comment.commenter.name %></td>
          <td><%= comment.content %></td>
          <td><%= comment.rating %></td>
          <td>
            <% if (comment.commenter._id.equals(user?.profile._id) || recipe.author._id.equals(user?.profile._id)) { %>
              <form action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
            </td>
          <% } %>
        </tr>
      <% }) %>
      <tr>
        <td colspan="3"></td>
        <td>
          <strong>
            <%= (total / recipe.comments.length).toFixed(1) %> 
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
  <% } else { %>
  <h4>No Comments Yet</h4>
<% } %>

</main>

<%- include('../partials/footer') %>
