<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<h1><%= title %></h1>
<form action="/cookbooks/new" method="get">
  <button type="submit">New Cookbook</button>
</form>
<ul>
<% cookbooks.forEach(cookbook => { %>
  <li><a href="/cookbooks/<%= cookbook._id %>"><%= cookbook.title %></a></li>
  <% }) %>
</ul>
</main>

<%- include('../partials/footer') %>
